@model Domain.Entities.Student
<tbody>
    <tr>
        <td><span style="font-size: 15px" class="pull-left label label-primary">@Model.StudentID</span></td>
        <td><strong>@Model.FirstName</strong></td>
        <td><strong>@Model.LastName</strong></td>
        <td><button class="btn btn-default">Sprawdz</button></td>
    </tr>
</tbody>
