<html>
<head>
    <style>
    </style>
</head>

<body>
    <div class="container-fluid text-center">
        <h3>Jeżeli chcesz wyznaczyć godziny egzaminów wciśnij <span class="btn btn-primary" disabled>Wyznacz</span> oraz poczekaj chwilę</h3>
        <form action="Calculate" method="post">
            <button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-bell"></span> Wyznacz</button>
        </form>
    </div>
</body>

</html>
    
